## Reload my notebook from the original template

If you have messed up your notebook and want to start again with version,
run the cell below.  
This will copy a new un-modified version of the mySQL notebook 
into your home directory. 

**_NOTE:_** this will **_delete_** your current copy of the mySQL notebook.  
To keep your current notebook you should rename it _before_ you reload 
from the clean template version.

In [1]:
cp .templates/mysql-example.ipynb mysql-example.ipynb
chmod u+w mysql-example.ipynb